{% extends "base.html" %}

{% block title %}Twitch配信者追加{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ root_path }}/static/css/add_user.css?v={{ static_version }}" />
{% endblock %}

{% block body %}
    <div class="card">
      <h1>Twitch配信者を監視対象リストに追加</h1>
      <div><ul>
        <li>追加された配信者についたコメントが今後取得されていきます</li>
        <li>即コメントが取得されるわけではありません。数時間おきに巡回し、かつ配信者が配信していないときに取得されます</li>
      </ul></div>
      <form method="post">
        <label>Twitchユーザ名またはチャンネルURL</label>
        <input type="text" name="username" required placeholder="例: fps_shaka または https://www.twitch.tv/fps_shaka">

        <button type="submit">追加</button>
      </form>

      {% if message %}
      <div class="message">{{ message }}</div>
      {% endif %}

      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}

      <h2>現在の監視対象ユーザ</h2>
      <table>
        <thead>
          <tr>
            <th>ユーザ名</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a href="https://www.twitch.tv/{{ user.name }}">{{ user.name }}</a></td>
            <td>{{ user.id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div style="margin-top: 16px; display:flex; gap:16px;">
        <a href="{{ request.url_for('index') }}">トップに戻る</a>
        <a href="{{ request.url_for('manual_page') }}">使い方ガイド</a>
      </div>
    </div>
{% endblock %}